---
layout: post-index
title: skulbuny
meta-title: skulbuny
description: "design and development"
image:
  feature: blur-1.jpg
---

{% for post in paginator.posts %}
<article class="hentry" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
  <header>
    <div class="entry-meta">
      <span class="entry-date date published updated">
        <time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">
          <a href="{{ site.url }}{{ post.url }}">{{ post.date | date: "%B %d, %Y" }}</a>
        </time>
      </span>
      {% if post.category == 'image' %}
      <span>
        <p><i class="icon-picture"></i> Image</p>
      </span>
      {% elsif post.category == 'link' %}
      <span>
        <p><i class="icon-link"></i> Link</p>
      </span>
      {% elsif post.category == 'video' %}
      <span>
        <p><i class="icon-youtube-play"></i> Video</p>
      </span>
      {% else %}
      <span>
        <p>Word count: {{ post.content | number_of_words }}</p>
      </span>
      {% endif %}
    </div><!-- /.entry-meta -->
    {% if post.link %}
      <h3 class="entry-title" itemprop="name"><a href="{{ post.link }}" target="_blank">{{ post.title }} <sup><i class="icon-external-link icon-half"></i></sup></a></h3>
    {% else %}
      <h3 class="entry-title" itemprop="name"><a href="{{ site.url }}{{ post.url }}" rel="bookmark" title="{{ post.title }}" itemprop="url">{{ post.title }}</a></h3>
    {% endif %}
  </header>
  <div class="entry-content" itemprop="description">
    {{ post.excerpt }}
  </div><!-- /.entry-content -->
</article><!-- /.hentry -->
{% endfor %}

<div class="pagination">
  <!-- {% if paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
      <a href="{{ site.url }}" class="btn">Previous</a>
    {% else %}
      <a href="{{ site.url }}/page{{ paginator.previous_page }}" class="btn">Previous</a>
    {% endif %}
  {% else %}
    <span class="btn btn-disabled">Previous</span>
  {% endif %} -->
  <ul class="inline-list">
    <li>
      {% if paginator.page == 1 %}
        <span class="current-page btn btn-disabled">1</span>
      {% else %}
        <a class="btn" href="{{ site.url }}">1</a>
      {% endif %}
    </li>
    {% for count in (2..paginator.total_pages) %}
      <li>
        {% if count == paginator.page %}
          <span class="current-page btn btn-disabled">{{ count }}</span>
        {% else %}
          <a class="btn" href="{{ site.url }}/page{{ count }}">{{ count }}</a>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
  <!-- {% if paginator.next_page %}
    <a class="btn" href="{{ site.url }}/page{{ paginator.next_page }}" class="btn">Next</a>
  {% else %}
    <span class="btn btn-disabled">Next</span>
  {% endif %} -->
</div>